@import "color-theme";

headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.headroom--unfixed {
    position: relative;
    transform: translateY(0);
}

.headroom--scrolled {
    transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
}

.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
}

.name {    
    padding-left: 20;
    font-weight: 500;
    font-family: "HaasMD", "Helvetica Neue", "Arial", "sans-serif";
    font-size: 18px;
}

.header-text {
    @include themed() {
        color: t($text);
    }
    padding-left: 20;
}

.header-text:hover {
    @include themed() {
        color: t($highlight);
    }
    padding-left: 20;
}

.header-text:current {
    @include themed() {
        color: t($highlight);
    }
    padding-left: 20;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    vertical-align: middle;
}

.rainbow-emoji {
    font-size: 20px;
    margin-bottom: 0;
    padding-right: 3px;
}

.header-icon {
    cursor: pointer;
}