@import "color-theme";

a {
    @include themed() {
        color: t($text);
    }
}

a:hover {
    @include themed() {
        color: t($hover-highlight);
    }
    text-decoration: none;
}

.section {
    @include themed() {
        color: t($dark-text);
    }
}

.category {
    @include themed() {
        color: t($text);
    }
}

.current {
    @include themed() {
        color: t($dark-text);
    }
}

.link {
    @include themed() {
        color: t($highlight);
    }
    text-decoration: underline;
}

.italic {
    @include themed() {
        color: t($dark-text);
    }
    text-decoration: italic;
    font-family: "HaasIt", "Helvetica Neue", "Arial", "sans-serif";
}

.italic:hover {
    @include themed() {
        color: t($text);
    }
}

.category:hover,
a.category:active {
    @include themed() {
        color: t($highlight);
    }
    cursor: pointer;
}

.project {
    @include themed() {
        color: t($dark-text);
    }
}

.tippy-popper .tippy-tooltip.light * {
    background-color: red !important;    
}

.tippy-popper .tippy-tooltip.dark * {
    background-color: blue !important;    
}