@import "color-theme";

.project-link {
    @include themed() {
        color: t($highlight);
    }
    text-decoration: underline;
}

.project-title {
    @include themed() {
        color: t($highlight);
    }
    text-decoration: none;
}

.project-title:hover {
    text-decoration: underline;
}

.project-link:hover {
    text-decoration: underline;
}

.project-italics {
    @include themed() {
        color: t($text);
    }
}

.project-container {
    @include themed() {
        background-color: t($light);
    }
}

.display-text {
    @include themed() {
        color: #fff;
    }
    font-size: 24;
    font-family: "HaasMd";
}
