$bg: "bg";
$highlight: "highlight";
$hover-highlight: "hover-highlight";
$text: "text";
$dark-text: "dark-text";
$light: "light";
$selection: "selection";

$themes: (
    light: (
        bg: #ffffff,
        highlight: #2b7be3,
        hover-highlight: #00204a,
        text: #77abb7,
        dark-text: #3a3a3a,
        light: #dddddd,
        selection: #fff
    ),
    dark: (
        bg: #121212,
        highlight: #3a82e0,
        hover-highlight: #444,
        text: #707070,
        dark-text: #cfcfcf,
        light: #111111,
        selection: #fff
    ),
    rainbow: (
        bg: #fff,
        highlight: #444,
        hover-highlight: rgba(64, 64, 64, 0.5),
        text: #555,
        dark-text: #333,
        light: #111111,
        selection: rgba(0, 0, 0, 0.5)
    ),
    space: (
      bg: #000,
      highlight: #3a82e0,
      hover-highlight: #444,
      text: #707070,
      dark-text: #cfcfcf,
      light: #111111,
      selection: #fff
    )
);

@mixin themed() {
    @each $theme, $map in $themes {
      .theme--#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), "#{$key}");
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function t($key) {
    @return map-get($theme-map, $key);
  }