@import 'color-theme';

$bg: 'bg';
$highlight: 'highlight';
$hover-highlight: 'hover-highlight';
$text: 'text';
$dark-text: 'dark-text';

@font-face {
    font-family: "Haas";
    src: url("../static/fonts/NeueHaasGroteskRegular.otf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HaasMd";
    src: url("../static/fonts/NeueHaasGroteskMedium.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// Default Styling
::selection {
    @include themed() {
        color: t($bg);
        background: t($highlight);
        opacity: 1;
    }
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.selectable {
    -webkit-user-drag: none;
}

.cursor {
    @include themed() {
        border: 3px solid t($dark-text);
    }

    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 150ms ease;
    transition-property: background-color,
    opacity,
    transform,
    mix-blend-mode;
    z-index: 9999;
    mix-blend-mode: difference;
}

.cursor--hidden {
    opacity: 0;
}

.cursor--link-hovered {
    transform: translate(-50%, -50%) scale(1.25);

    @include themed() {
        background-color: t($dark-text);
    }
}

.cursor--clicked {
    transform: translate(-50%, -50%) scale(0.9);

    @include themed() {
        background-color: t($dark-text);
    }
}

html,
body {
    cursor: none;
    scroll-behavior: smooth;
    background-color: $bg;
    position: relative;
    min-height: 100vh;

    @include themed() {
        color: t($dark-text);
    }

    font-family: 'Haas',
    'Helvetica Neue',
    'Arial',
    'sans-serif';
}

html *,
body * {
    cursor: none;
}

// Styling For Header
.headroom {
    top: 0;
    left: 0;
    right: 0;
    zIndex: 1;
}

.headroom--unfixed {
    position: relative;
    transform: translateY(0);
}

.headroom--scrolled {
    transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
}

.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
}

.name {
    padding-left: 20;
    font-weight: 500;
    font-family: 'HaasMd', 'Helvetica Neue', 'Arial', 'sans-serif';
}

.header-text {
    @include themed() {
        color: t($text);
    }

    padding-left: 20;
}

.header-text:current {
    @include themed() {
        color: t($highlight);
    }

    padding-left: 20;
}

.header-text:hover {
    @include themed() {
        color: t($hover-highlight);
    }

    padding-left: 20;
}

// Link Styling
a {
    @include themed() {
        color: t($text);
    }
}

a:hover {
    @include themed() {
        color: t($hover-highlight);
    }

    text-decoration: none;
}

.section {
    @include themed() {
        color: t($dark-text);
    }
}

.category {
    @include themed() {
        color: t($text);
    }
}

.current {
    @include themed() {
        color: t($highlight);
    }
}

.link {
    @include themed() {
        color: t($highlight);
        text-decoration: underline;
    }
}

.category:hover,
a.category:active {
    @include themed() {
        color: t($hover-highlight);
    }
}

.project {
    @include themed() {
        color: t($dark-text);
    }
}

// Project View Styling
.project-link {
    @include themed() {
        color: t($highlight);
    }
}

.project-link:hover {
    text-decoration: underline;
}

.project-italics {
    @include themed() {
        color: t($text);
    }
}

.project-container {
    @include themed() {
        background-color: t($text);
    }
}


.display-text {
    @include themed() {
        color: #fff;
    }

    font-size: 24;
    font-family: 'HaasMd';
}

// Shadow Styles
.shadow-reg {
    @include themed() {
        box-shadow: 0px 0px 3px t($dark-text);
    }
}

.shadow-dark {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}

// Centering Loading Component
.sk-spinner {
    width: 75px;
    height: 75px;

    @include themed() {
        color: t($highlight);
    }
}