@import "color-theme";
@import "_body.scss";
@import "_header.scss";
@import "_link.scss";
@import "_project.scss";
@import "_shadow.scss";

.sk-spinner {
    width: 75px;
    height: 75px;
    @include themed() {
        color: t($highlight);
    }
}